.largeCont{
  padding: 7rem;
}
.lg_form {
  float: left;
  width: 100%;
  background: #fff;
  border: 1px solid #e5e5e5;
  padding: 50px 30px;
}
.lg_form .form-group {
  margin-top: 27px;
  margin-bottom: 0;
  float: left;
  width: 100%;
}
.main-heading {
  width: 100%;
  text-align: center;
  margin-bottom: 9px;
}
.main-heading h2 {
  font-size: 24px;
  color: #242424;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 8px;
  font-family: roboto, sans-serif;
}

.line-shape1 {
  width: 100%;
  margin-top: 5px;
}
.line-shape1 .heading-line {
  width: 50px;
  height: 2px;
}
  .lr_btn {
    font-size: 14px;
    font-weight: 500;
    font-family: roboto, sans-serif;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    border-radius: 3px;
    background-color: #fffb04;
    float: left;
    width: 100%;
    height: 50px;
    border: 0;
    margin: 30px 0 0;
    padding: 15px 0;
    text-align: center;
  }
  .lr_btn:hover {
    color: #fff !important;
    background-color: #000000;
  }
  .label15 {
    font-size: 14px;
    font-family: roboto, sans-serif;
    font-weight: 500;
    color: #242424;
    margin-bottom: 10px;
    line-height: 24px;
  }
  .job-input {
    font-size: 14px;
    width: 100%;
    height: 40px;
    font-family: roboto, sans-serif;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    color: #242424;
    padding: 0 20px;
  }
.justify-content-center {
    display: flex;
    justify-content: center;
}
/* .container{
    padding: 8rem;
} */
.checkbox{
    padding-top: 5px;
}
.done140 {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 400;
  font-family: roboto, sans-serif;
  color: #242424;
  line-height: 24px;
}
.done140 a {
  color:  #000000;
  font-weight: 500;
  margin-left: 5px;
}
.done140 a:hover {
  color: #fffb04 !important;
}
.done140 a i {
  margin-left: 5px;
}
.done146 {
  float: left;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 400;
  font-family: roboto, sans-serif;
  color: #242424;
  line-height: 24px;
}
.done146 a {
  color: #020202;
  font-weight: 500;
  margin-left: 5px;
}
.done146 a:hover {
  color: #fffb04 !important;
}
.done147 {
  float: right;
  margin-top: 30px;
  font-size: 14px;
  font-family: roboto, sans-serif;
  color: #242424;
  line-height: 24px;
}
.done147 a {
  color: #242424;
  font-weight: 400;
}
.done147 a:hover {
  color: #fffb04 !important;
}
.done146 i {
  margin-left: 5px;
}
.error{
  color: red;
  text-decoration: none;
}
html * {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
  background: #4688F1;
  padding: 0;
  margin: 0;
}

.login-box {
  background: #fff;
  max-width: 480px;
  text-align: center;
  letter-spacing: 1px;
  position: relative;
}



.login-box h2 {
  margin: 20px 0 20px;
  padding: 0;
  text-transform: uppercase;
  color: #4688F1;
}

.social-button {
  background-position: 25px 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
  border-radius: 3px;
  margin: 10px auto;
  outline: rgb(255, 255, 255) none 0px;
  padding-left: 20%;
  transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#facebook-connect {
  background: rgb(255, 255, 255) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/facebook.svg?sanitize=true') no-repeat scroll 5px 0px / 30px 50px padding-box border-box;
  border: 1px solid rgb(60, 90, 154);
}

#facebook-connect:hover {
  border-color: rgb(60, 90, 154);
  background: rgb(60, 90, 154) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/facebook-white.svg?sanitize=true') no-repeat scroll 5px 0px / 30px 50px padding-box border-box;
  -webkit-transition: all .8s ease-out;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease-out;
}

#facebook-connect span {
  box-sizing: border-box;
  color: rgb(60, 90, 154);
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border: 0px none rgb(255, 255, 255);
  outline: rgb(255, 255, 255) none 0px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#facebook-connect:hover span {
  color: #FFF;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#google-connect {
  background: rgb(255, 255, 255) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/google-plus.png') no-repeat scroll 5px 0px / 50px 50px padding-box border-box;
  border: 1px solid rgb(220, 74, 61);
}

#google-connect:hover {
  border-color: rgb(220, 74, 61);
  background: rgb(220, 74, 61) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/google-plus-white.png') no-repeat scroll 5px 0px / 50px 50px padding-box border-box;
  -webkit-transition: all .8s ease-out;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease-out;
}

#google-connect span {
  box-sizing: border-box;
  color: rgb(220, 74, 61);
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border: 0px none rgb(220, 74, 61);
  outline: rgb(255, 255, 255) none 0px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#google-connect:hover span {
  color: #FFF;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#linkedin-connect {
  background: rgb(255, 255, 255) url('https://cdn.icon-icons.com/icons2/2368/PNG/512/github_logo_icon_143772.png') no-repeat scroll 11px 5px / 28px 33px padding-box border-box;
  border: 1px solid rgb(5, 5, 5);
}

#linkedin-connect:hover {
  border-color: rgb(10, 10, 10);
  background: rgb(0, 0, 0) url('https://findicons.com/files/icons/2779/simple_icons/2048/github.png') no-repeat scroll 6px 0px / 36px 45px padding-box border-box;
  -webkit-transition: all .8s ease-out;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease-out;
}

#linkedin-connect span {
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border: 0px none rgb(0, 0, 0);
  outline: rgb(255, 255, 255) none 0px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#linkedin-connect:hover span {
  color: rgb(255, 255, 255);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
